//Colors
$off-black: #20222b;
$off-white: #A5AFD7;
$blue: #3C4251;
$light-blue: #464B5E;
$dark-blue: #333745;
$purple: #8357C5;


//Sizes
$sm-size: 1.2rem;
$md-size: 1.6rem;
$lg-size: 3.2rem;
$xlg-size: 4.8rem;
$desktop-breakpoint: 45rem;
